/* Colors */
@brand-primary:         #00aca1;

/* Fonts */
@font-family-sans-serif:  "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;

/* Forms */
@input-border-focus:             #00aca1;
@input-color-placeholder:        #999;

/* Icon font path */
@icon-font-path:          "../assets/vendor/bootstrap/dist/fonts/";