
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
@brand-primary:         #6E5DAC;

@purple: #6E5DAC;
@purple-light: #9698D0;
@grape: #9771B7;
@grape-light: #A080C0;
@blue-light: #A9C7E7;
@blue: #2A357C;
@lavender: #D2D5E7;

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;
@input-border-focus:    	@lavender;

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
@btn-default-color:              #404040;
@btn-default-bg:                 #CCC;
@btn-default-border:             #333;